.button {
    border-radius: 50%;
    padding: 1rem;
    border: 4px solid var(--font);
    cursor: pointer;
    font-size: 18pt;
    background-color: transparent;
    color: var(--font);
}

.back-button {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--font_active);
    background-color: var(--secondary);
    align-items: center;
    cursor: pointer;
}

