@import "../styles/basic-components/all.css";
/*import custom styles here*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /* Color styles */
    --font: rgba(181, 166, 145, 1);
    --font_active: rgba(209, 201, 189, 1);
    --primary: rgba(28, 27, 27, 1);
    --secondary: rgba(19, 19, 19, 1);
}

html, body {
    background: var(--primary);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: var(--font_active);
}

.wrapper{
    background: var(--secondary);
    width: 100vw;
    border: 1px solid red;
}

button {
    cursor: pointer;
}

button:hover {
    scale: 1.1;
}

/*desktop*/
@media only screen and (min-width: 641px) {
    .wrapper {
        width: 50vw;
        max-width: 1000px;
    }
}




