@import "../styles/basic-components/all.css";
/*import custom styles here*/

@font-face {
    font-family: heebo;
    src: url("/assets/heebo.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Color styles */
    --font: rgba(181, 166, 145, 1);
    --font_active: rgba(209, 201, 189, 1);
    --primary: rgba(28, 27, 27, 1);
    --secondary: rgba(19, 19, 19, 1);
}

html,
body {
    background: var(--primary);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: var(--font);
    width: 100%;
}

* {
    font-family: heebo, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.wrapper {
    background: var(--secondary);
    width: 100vw;
}

/*desktop*/
@media only screen and (min-width: 800px) {
    .wrapper {
        width: 80vw;
        max-width: 1000px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 50vw;
        max-width: 1000px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@media only screen and (max-width: 100px) {
    .wrapper {
        width: 60vw;
        max-width: 1000px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
